body{
    background-color: var(--overlay);
}


#admin main{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

.admin-heading {
    padding-top: 40px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-heading :is(h1, h2, h3, h4, h5, h6) {
    margin: 0 10px;
    padding: 0;
    display: inline-block;

    line-height: 1.4rem;
}

.admin-heading h1 {
    line-height: 2.6rem;
}

.edit-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;  

    width: 98vw;
    margin: 20px;
    padding: 10px 40px;

    /* border: 1px solid var(--subtle); */
    background-color: var(--base);
    border-radius: 30px;
    box-shadow: 0 10px 10px var(--subtle);
}
.edit-inner {
    width: 40%;
    min-width: 400px;
    margin: 20px;
}
/* Textfelder auf der selben Höhe */
.edit-inner h2, .preview-heading {
    height: 60px;
}

.edit-heading :is(p, h2, h3, h5) {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

/* The button and status message in one row */
.button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-block p {
    font-size: small;
}

.edit-inner .preview {
    background-color: var(--surface);
    padding: 25px;
    border-radius: 30px;
}

#admin textarea {
    width: 100%;
    height: 50vh;
    max-height: 100%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    letter-spacing: 0.5px;
    line-height: 1.5;

    padding: 20px;
    border-radius: 30px;
    border: 0px solid var(--subtle);
    box-shadow: inset 0 10px 20px var(--subtle);
}

#admin button {
    width: 250px;
    font-size: large;
    font-family: var(--font-family);
    padding: 20px;
    margin: 0px 40px 20px 0;
    background-color: var(--base);
    box-shadow: inset 0 -5px 10px var(--subtle);
    border: 0;
    border-radius: 30px;
}

#admin button:hover {
    box-shadow: inset 0 -3px 10px var(--subtle);
    transform: translateY(2px);
    transition: 1s;
}

#admin button:active {
    box-shadow: inset 0 5px 10px var(--subtle);
}

#admin-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;

    font-size: small;
}
#admin-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#admin-menu li {
    display: inline-block;
    margin: 0 10px;
}
#admin-menu a {
    color: var(--text);
    text-decoration: none;
}
#admin-menu a:hover {
    color: var(--love);
}
#admin-menu a:active {
    color: var(--gold);
}