::selection {
    background-color: var(--love); /* Pinkish highlight */
    color: var(--base); /* Dark text */
}

::-moz-selection { /* Firefox support */
    background-color: var(--love);
    color: var(--base);
}

.rotating {
    display: inline-block;
    font-size: 3rem;
    animation: rotating 2s ease-in-out infinite alternate;
}
@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(50deg);
    }
    70% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(10deg);
    }
}