#contact-container {
    align-items: flex-end;
}

#contact {
    max-width:1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact .textwrapper {
    min-width: 500px;
    padding: 10px 30px;
}
#contact .textwrapper p {
    padding-right: 20px;
}

#contact img {
    max-height: 40vw;
    width: auto;
}

#contact a{
    font-size: xx-large;
}