#contact-container {
  min-height: 100vh;
  align-items: flex-start;
  position: relative;
  background-image: radial-gradient(
    circle at 80% 120%,
    var(--gold),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

#contact {
  /* max-width 900px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
      circle at 20% 30%,
      var(--base),
      rgba(255, 255, 255, 0)
    ),
    url("noise.svg");
  background-blend-mode: overlay;
}

#contact img {
  max-height: 40vw;
  width: auto;
}

#contact #main-contact-link {
  font-size: xx-large;
}

#contact p:nth-child(4) {
  font-size: medium;
}

.atsign {
  position: relative;
  top: 0.1em;
  padding: 0 3px 0 3px;
}
