/*
Landing Section
1) Mobile Ansicht
2) Desktop Ansicht

*/

#jumbo {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

#home {
    margin: 0;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 0;
    
    background-color: black;
    color: var(--subtle);
    box-shadow: 0 0 100px var(--text);
}

#landingtext {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: larger;
    text-align: center;
}

#landingtext h3 {
    font-size: xx-large;
}

#landingtext h2 {
    font-size: xxx-large;
}   

#landingtext p {
    font-size: xx-large;
}

/* +++++++++++++++ */
/* +++++++++++++++ */
/* +++++++++++++++ */
/* Desktop Ansicht */

@media (min-width: 768px) {

    #landingtext {
        z-index: 1;
        position: absolute;
        bottom: 50px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        font-size: larger;
        text-align: center;
    }

    #landingtext h2 {
        font-size:xx-large;
    }

    #landingtext h3 {
        font-size:large;
    }   

    #landingtext p {
        font-size:x-large;
    }
}