#about-container {
    align-items: flex-start; 
}
.section-about {
    
    background-color: var(--text);
    color: var(--surface);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .head-img {
    max-width: 100%;
}
