#about{
    align-items: flex-start; 
}
.section-about {
    margin-top: 35px; 
    /* background-color: var(--text); */
    background: radial-gradient(circle at 20% 30%, var(--iris), rgba(255, 255, 255, 0));
    background-blend-mode: overlay;
    color: var(--surface);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#about .head-img {
    max-width: 100%;
}

#about :is(p:nth-child(1), p:nth-child(3)) {
    font-size: medium;
}

#local-audio {
    background-color: rgba(255, 255, 255, 0);
}