/* 
The table on its own
1) Desktop Ansicht
2) Mobile Ansicht
*/
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px 0 solid var(--highlight-high);
    padding: 10px;
    text-align: left;
    color: var(--text);
  }
  
  th {
    background-color: var(--highlight-med);
  }
  
  tr:nth-child(even) {
    background-color: var(--highlight-low);
  }

  /* +++++++++++++++ */
  /* +++++++++++++++ */
  /* +++++++++++++++ */
  /* Mobile Ansicht */
  @media (max-width: 768px) {
/* Elemente ausblenden, die nicht auf mobilen Geräten angezeigt werden sollen */
    th:nth-child(3),td:nth-child(3) {
        display: none;
    }
    th:nth-child(4),td:nth-child(4) {
        display: none;
    }
    th:nth-child(6),td:nth-child(6) {
        display: none;
    }
  }
  /* Intermediate screen size */
  @media (max-width: 1000px) {
      th:nth-child(3),td:nth-child(3) {
        display: none;
  }
  
      th:nth-child(4),td:nth-child(4) {
        display: none;
  }
  }