/* 
The table on its own
1) Desktop Ansicht
2) Mobile Ansicht
*/
table {
    /* border-collapse: collapse; */
    width: 100%;
    max-width: 1000px;
    border-spacing: 0 20px; /* Horizontal (0) and Vertical (20px) spacing */

  }
  
  th, td {
    text-align: left;
    color: var(--text);
    padding: 20px 6px;
  }

  th {
    padding: 0 6px;
  }
  
  tr{
    box-shadow: inset -5px -7px 25px var(--subtle);
    border-radius: 20px;

  }
  
  tr:nth-child(1) {
    box-shadow: none;
    transform: translate(0, 15px);
  }

  td:nth-child(1), th:nth-child(1){
    font-size: x-large;
    padding-left: 20px;
  }
  td:nth-child(6){
    font-size: small;
  }

  /* +++++++++++++++ */
  /* +++++++++++++++ */
  /* +++++++++++++++ */
  /* Mobile Ansicht */
  /* Stacking Display */
@media (max-width: 1100px) {

  table, thead, tbody, th, td, tr {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
  thead, th {
    display: none;
  }
  tr {
    padding: 20px 10px;
    box-shadow: inset 0 -17px 25px var(--subtle);
    margin: 10px 0;
  }

tr:nth-child(1) {
    display: none;
}

  td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 14px;
  }
  /* Titel Feld */
  td:nth-child(1) {
    font-size: x-large;
    padding-left: 14px;
  }
  /* Infos */
  td:nth-child(6) {
    font-size: small;
  }
  td::before {
    content: attr(data-label);
    width: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    color: var(--gold);
  }
}