/*
youtube-admin.css
*/
html {
  font-size: 16px;
  font-family: Helvetica;
  background-color: gainsboro;
}
.li-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: fit-content;
  padding: 8px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3), 0 -2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.link-video {
  width: 400px;
  text-decoration: none;
  color: black;
}

.button-video-container button {
  height: 30px;
  width: 32px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.3);
  border:none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.button-video-container button:hover {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
}

.grip-symbol {
    font-size: 2em;
    margin-right: 0.5em;
    color: var(--subtle);
    cursor: grab;
    transform: translateY(-0.1em);
}